env:
  RG_NAME: liftlogger-test-rg

# This is a basic workflow to help you get started with Actions

name: Bicep deploy

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build-and-deploy"
  build-and-deploy:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      # replaced checkout@v3 with @master
      - uses: actions/checkout@master
      
      # Log into Azure
      - uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Create RG
        uses: actions/checkout@v2
      - run: |
          .azureRgScript.ps1 $RG_NAME eastus
        shell: pwsh

      # Deploy Bicep file
      - name: deploy
        uses: azure/arm-deploy@v1
        with:
          subscriptionId: ${{ secrets.AZURE_SUBSCRIPTION }}
          resourceGroupName: ${{ secrets.AZURE_RESOURCE_GROUP }}
          template: ./bicep/main.bicep
          # replace this with any parameters I want in my deploy file
          parameters: serverAdminLogin=${{ secrets.SQL_ADMIN_USERNAME }}, serverPassword=${{ secrets.SQL_ADMIN_PASSWORD }}, rgName=$RG_NAME
          failOnStdErr: false
